<button [ngClass]="{'list-group-item': true,
				'list-group-item-success': postLike > 0,
				'list-group-item-danger': postLike < 0}" 
				(click)="onViewArticle();"
				class="button-list-item">

	<span class="pull-right">Publié le {{ postDate | date: 'd/MM/yyyy à H:mm' }}</span>
	<h1>{{ postTitle }}</h1>
	<p>{{ postContent }}</p>
	
	<button class="btn btn-success" (click)="loveItPlus()">Love it !</button>
	<button class="btn btn-danger" (click)="loveItLess()">Dislike</button>

	<button class="btn btn-danger pull-right button-delete" (click)="deletePost();">Supprimer Post</button>

</button>

